* {
  margin: 0;
  padding: 0;
}
.glass {
  background: rgba(255, 255, 255, 0.56);
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  /* backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(9.6px); */
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
}
.container {
  width: 70% !important;
  margin: 0 auto !important;
}
